<br/>

<div class="ParedMargin">

    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared14CREtapa7']" routerLinkActive='active' *ngIf="visibilidadPared[0]" (click)="EnviarDatosParedes('Cristo Redentor','CR','Etapa7','14')"><strong>Pared 14</strong></a>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>