<!--<br/>

<div>

    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Grilla1']" routerLinkActive='active'><strong>Pared 1</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Grilla2']" routerLinkActive='active'><strong>Pared 2</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Grilla3']" routerLinkActive='active'><strong>Pared 3</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Grilla4']" routerLinkActive='active'><strong>Pared 4</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Grilla5']" routerLinkActive='active'><strong>Pared 5</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Grilla6']" routerLinkActive='active'><strong>Pared 6</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Grilla7']" routerLinkActive='active'><strong>Pared 7</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Grilla8']" routerLinkActive='active'><strong>Pared 8</strong></a>
        </li>

    </ul>


</div>
<router-outlet></router-outlet>-->


<br/>

<div>

    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Grilla1']" routerLinkActive='active'><strong>Etapa 1</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Grilla2']" routerLinkActive='active'><strong>Etapa 2</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Grilla3']" routerLinkActive='active'><strong>Etapa 3</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Grilla4']" routerLinkActive='active'><strong>Etapa 4</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Grilla5']" routerLinkActive='active'><strong>Etapa 5</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Grilla6']" routerLinkActive='active'><strong>Etapa 6</strong></a>
        </li>
    </ul>


</div>
<router-outlet></router-outlet>