<div class="wrapper">
    <form class="form-signin" [formGroup]="form" (ngSubmit)="getLogin()">
        <div class="form-group" style="text-align: center;">
            <img id="img" [src]='img' style="size: 50%;" />
        </div>
        <div class="clearfix "></div>
        <p></p>
        <p></p>
        <hr>
        <p></p>
        <div class="form-group">
            <input type="text" class="form-control" formControlName="UserId" placeholder="Nombre de Usuario" required="" autofocus="" />
        </div>
        <div class="clearfix"></div>
        <p></p>
        <div>
            <input type="password" class="form-control" formControlName="Password" placeholder="Contraseña" required="" />
        </div>
        <div class="form-group">
            <!--<label class="checkbox">
                <input type="checkbox" value="remember-me" id="rememberMe" name="RememberMe"> Recordarme
              </label>-->
        </div>
        <div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Acceder</button>
        </div>

    </form>
</div>