<br/>

<div class="ParedMargin">

    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared7CCSEtapa5']" routerLinkActive='active' *ngIf="visibilidadPared[0]" (click)="EnviarDatosParedes('Cristo Salvador','CCS','Etapa5','7')"><strong>Pared 7</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared8CCSEtapa5']" routerLinkActive='active' *ngIf="visibilidadPared[1]" (click)="EnviarDatosParedes('Cristo Salvador','CCS','Etapa5','8')"><strong>Pared 8</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared9CCSEtapa5']" routerLinkActive='active' *ngIf="visibilidadPared[2]" (click)="EnviarDatosParedes('Cristo Salvador','CCS','Etapa5','9')"><strong>Pared 9</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared10CCSEtapa5']" routerLinkActive='active' *ngIf="visibilidadPared[3]" (click)="EnviarDatosParedes('Cristo Salvador','CCS','Etapa5','10')"><strong>Pared 10</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared11CCSEtapa5']" routerLinkActive='active' *ngIf="visibilidadPared[4]" (click)="EnviarDatosParedes('Cristo Salvador','CCS','Etapa5','11')"><strong>Pared 11</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared12CCSEtapa5']" routerLinkActive='active' *ngIf="visibilidadPared[5]" (click)="EnviarDatosParedes('Cristo Salvador','CCS','Etapa5','12')"><strong>Pared 12</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared13CCSEtapa5']" routerLinkActive='active' *ngIf="visibilidadPared[6]" (click)="EnviarDatosParedes('Cristo Salvador','CCS','Etapa5','13')"><strong>Pared 13</strong></a>
        </li>

    </ul>
</div>

<router-outlet></router-outlet>