<br/>

<div class="ParedMargin">

    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared1CSEtapa1']" routerLinkActive='active' *ngIf="visibilidadPared[0]" (click)="EnviarDatosParedes('Columbario Santiago','CS','Etapa1','1')"><strong>Pared 1</strong></a>
        </li>

        <!-- <li class="nav-item">
            <a class="nav-link" [routerLink]="['GrillaCS2']" routerLinkActive='active'><strong>Pared 2</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['GrillaCS3']" routerLinkActive='active'><strong>Pared 3</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['GrillaCS4']" routerLinkActive='active'><strong>Pared 4</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['GrillaCS5']" routerLinkActive='active'><strong>Pared 5</strong></a>
        </li>-->

    </ul>
</div>

<router-outlet></router-outlet>