<br/>

<div class="EtapaMargin" style="margin-top:80px">
    <ul class="nav nav-tabs col col-xs-12">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['LCristoSalvadorEtapa1']" routerLinkActive='active' *ngIf="visibilidadEtapa1"><strong>Etapa 1</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['LCristoSalvadorEtapa2']" routerLinkActive='active' *ngIf="visibilidadEtapa2"><strong>Etapa 2</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['LCristoSalvadorEtapa3']" routerLinkActive='active' *ngIf="visibilidadEtapa3"><strong>Etapa 3</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['LCristoSalvadorEtapa4']" routerLinkActive='active' *ngIf="visibilidadEtapa4"><strong>Etapa 4</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['LCristoSalvadorEtapa5']" routerLinkActive='active' *ngIf="visibilidadEtapa5"><strong>Etapa 5</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['LCristoSalvadorEtapa6']" routerLinkActive='active' *ngIf="visibilidadEtapa6"><strong>Etapa 6</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['LCristoSalvadorEtapa7']" routerLinkActive='active' *ngIf="visibilidadEtapa6"><strong>Etapa 7</strong></a>
        </li>
    </ul>
</div>
<router-outlet></router-outlet>