<br/>

<div class="ParedMargin">

    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared4CCSEtapa2']" routerLinkActive='active' *ngIf="visibilidadPared[0]" (click)="EnviarDatosParedes('Cristo Salvador','CCS','Etapa2','4')"><strong>Pared 4</strong></a>
        </li>

    </ul>
</div>

<router-outlet></router-outlet>