<br/>

<div class="ParedMargin">


    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared5CCSEtapa3']" routerLinkActive='active' *ngIf="visibilidadPared[0]" (click)="EnviarDatosParedes('Cristo Salvador','CCS','Etapa3','5')"><strong>Pared 5</strong></a>
        </li>

    </ul>
</div>

<router-outlet></router-outlet>