<br/>

<div class="ParedMargin">


    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared6CSIslaCentral']" routerLinkActive='active' *ngIf="visibilidadPared[0]" (click)="EnviarDatosParedes('Columbario Santiago','CS','Isla Central','6')"><strong>Pared 2 Lado1</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared7CSIslaCentral']" routerLinkActive='active' *ngIf="visibilidadPared[1]" (click)="EnviarDatosParedes('Columbario Santiago','CS','Isla Central','7')"><strong>Pared 3 Lado2</strong></a>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>