<br/>

<div class="ParedMargin">

    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared11CREtapa6']" routerLinkActive='active' *ngIf="visibilidadPared[0]" (click)="EnviarDatosParedes('Cristo Redentor','CR','Etapa6','11')"><strong>Pared 11</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared12CREtapa6']" routerLinkActive='active' *ngIf="visibilidadPared[1]" (click)="EnviarDatosParedes('Cristo Redentor','CR','Etapa6','12')"><strong>Pared 12</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared13CREtapa6']" routerLinkActive='active' *ngIf="visibilidadPared[2]" (click)="EnviarDatosParedes('Cristo Redentor','CR','Etapa6','13')"><strong>Pared 13</strong></a>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>