<div class="form-group" style="text-align: left; height: 100px; margin-left: 50px;">
    <img id="img" src="https://blandinoprearreglo.com.do/wp-content/uploads/2020/08/logo-e1602165189516.png" style="height: 220; width: auto; padding-top: 10px;" />
</div>
<br/>
<button class="btn btn-success exportButtonMargin" (click)="getLogByDate(fechaInicio.value,fechaFinal.value)">Buscar</button>
<div class="col col-md-12 row">
    <input type="date" class="form-control col col-md-2 maginRight" #fechaInicio>
    <input type="date" class="form-control col col-md-2 maginRight" #fechaFinal>
</div>

<div class="maginRight">


    <table class="table" id="excel-table">
        <thead class="bg-dark">
            <tr>
                <th scope="col" class="theadFontColor">Usuario</th>
                <th scope="col" class="theadFontColor">Detalles</th>
                <th scope="col" class="theadFontColor">Fecha</th>
            </tr>
        </thead>
        <tbody *ngFor='let data of logData'>
            <td>{{data.usuario}}</td>
            <td>{{data.detalles}}</td>
            <td>{{data.fecha}}</td>



        </tbody>
    </table>

    <!--<table class="table" id="excel-table">
        <thead class="bg-dark">
            <tr>
                <th scope="col" class="theadFontColor">Codigo</th>
                <th scope="col" class="theadFontColor">Contrato</th>
                <th scope="col" class="theadFontColor">PANUM</th>
                <th scope="col" class="theadFontColor">Cementerio</th>
                <th scope="col" class="theadFontColor">Pared</th>
                <th scope="col" class="theadFontColor">Fila</th>
                <th scope="col" class="theadFontColor">Columna</th>
                <th scope="col" class="theadFontColor">Etapa</th>
                <th scope="col" class="theadFontColor">Estatus</th>
                <th scope="col" class="theadFontColor">IDCliente</th>
                <th scope="col" class="theadFontColor">NombreCliente</th>
                <th scope="col" class="theadFontColor">Tipo</th>
            </tr>
        </thead>
        <tbody *ngFor='let data of vincamfallecidoclientesDatos'>
            <td>{{data.codigo}}</td>
            <td>{{data.contrato}}</td>
            <td>{{data.panum}}</td>
            <td>{{data.cementerio}}</td>
            <td>{{data.pared}}</td>
            <td>{{data.fila}}</td>
            <td>{{data.columna}}</td>
            <td>{{data.etapa}}</td>
            <td>{{data.estatus}}</td>
            <td>{{data.idCliente}}</td>
            <td>{{data.nombreCliente}}</td>
            <td>{{data.tipo}}</td>



        </tbody>
    </table>-->
</div>