<br/>

<div>

    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['pared1']" routerLinkActive='active'><strong>Pared 1</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['pared2']" routerLinkActive='active'><strong>Pared 2</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['pared3']" routerLinkActive='active'><strong>Pared 3</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['pared4']" routerLinkActive='active'><strong>Pared 4</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['pared5']" routerLinkActive='active'><strong>Pared 5</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['pared6']" routerLinkActive='active'><strong>Pared 6</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['pared7']" routerLinkActive='active'><strong>Pared 7</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['pared8']" routerLinkActive='active'><strong>Pared 8</strong></a>
        </li>

    </ul>
</div>

<router-outlet></router-outlet>

<p>Cementerio Puerta del cielo</p>