<nav class="navbar navbar-expand-lg navbar-dark  bg-secondary posicionFija">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="background-color:#6c757d;">




            <a class="nav-item nav-link" [routerLink]="['COzama1']" routerLinkActive='active' *ngIf="visibilidadcolumbarioOzama"><strong>Columbario Ozama</strong></a>
            <a class="nav-item nav-link" [routerLink]="['CSantiago1']" routerLinkActive='active' *ngIf="visibilidadColumbarioSantiago"><strong>Columbario Santiago</strong></a>
            <a class="nav-item nav-link" [routerLink]="['CLuperon1']" routerLinkActive='active' *ngIf="visibilidadColumbarioLuperon"><strong>Columbario Luperon</strong></a>
            <a class="nav-item nav-link" [routerLink]="['CIngenioSantiago1']" routerLinkActive='active' *ngIf="visibilidadIngenioSantiago"><strong>Ingenio Santiago</strong></a>
            <a class="nav-item nav-link" [routerLink]="['CMaximoGomez1']" routerLinkActive='active' *ngIf="visibilidadMaximoGomez"><strong>Maximo Gomez</strong></a>
            <a class="nav-item nav-link" [routerLink]="['CCristoSalvador1']" routerLinkActive='active' *ngIf="visibilidadCristoSalvador"><strong>Cristo Salvador</strong></a>
            <a class="nav-item nav-link" [routerLink]="['CementerioCristoRedentor1']" routerLinkActive='active' *ngIf="visibilidadCristoRedentor"><strong>Cristo Redentor</strong></a>


            <!-- <button type="button" class="btn btn-success btn-sm" style="margin-right: 5px;" (click)="openModalFallecidos(Modalfallecidos)">Buscar</button>


            <div *ngIf="isAdmin =='true'">
                <button type="button" class="btn btn-light btn-sm" (click)="openModal(users)">Permisos</button>
            </div>

            <div *ngIf="isAdmin =='true'">

                <a class="form-control btn btn-success btn-sm" style="margin-left: 5px;" href="http://serversql/ReportServer/Pages/ReportViewer.aspx?%2fDesarrollos+Internos%2fPRE01+-+Listado+Fallecidos&rs:Command=Render" target="_blank">Reporte</a>

            </div>

            <div>
                <button type="button" class="btn btn-success btn-sm" style="margin-right: 5px;" (click)="CerrarSesion()">Salir</button>
            </div>-->


        </div>
    </div>


    <br/>
    <div style="margin-top: 700px; text-align: center; margin-right: 230px;" *ngIf="visibilidadcolumbarioOzama    == false && 
                visibilidadColumbarioSantiago == false &&
                visibilidadColumbarioLuperon  == false &&
                visibilidadIngenioSantiago    == false &&
                visibilidadMaximoGomez        == false &&
                visibilidadCristoSalvador     == false &&
                visibilidadCristoRedentor     == false">
        <app-paginavacia></app-paginavacia>
    </div>

    <!-- <div style="text-align: center;">
        <select style="color: rgb(255, 255, 255); background-color:#28a745; width: 100px; height: 30px;" name="cars" id="cars">
        <option color="#ffffff" value="volvo" href=""><button href="www.lacuerda.net">Pulsar</button></option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">
            <a class="nav-item nav-link" [routerLink]="['CCristoSalvador1']" routerLinkActive='active' *ngIf="visibilidadCristoSalvador"><strong>Cristo Salvador</strong></a>
            </option>

        
      </select>
    </div>-->

    <!--Recordar-->
    <!-- <div *ngIf="isAdmin =='true'">-->

    <!-- <div style="margin-left: 300px;">-->

    <!--  <div>
        <button type="button" class="btn btn-success btn-sm" style="margin-right: 5px; margin-left: -20;" (click)="openModalFallecidos(Modalfallecidos)">Buscar</button>
    </div>

    <div *ngIf="isAdmin =='true'">
        <button type="button" class="btn btn-light btn-sm" (click)="openModal(users)">Permisos</button>
    </div>

    <div *ngIf="isAdmin =='true'">


        <a class="form-control btn btn-success btn-sm" style="margin-left: 5px;" href="http://serversql/ReportServer/Pages/ReportViewer.aspx?%2fDesarrollos+Internos%2fPRE01+-+Listado+Fallecidos&rs:Command=Render" target="_blank">Reporte</a>

    </div>-->




    <!--<input type="button" onClick="parent.location='http://www.facebook.com/'" value="facebook" formtarget="_blank">-->

    <!--<button class="btn btn-primary btn-sm" [routerLink]="['/Reporte']">Log</button>-->
    <!--<button class="btn btn-primary btn-sm" [routerLink]="['/Reporte']">Reporte</button>-->
    <!-- <a class="nav-item nav-link" [routerLink]="['/Reporte']" routerLinkActive='active'><strong>Reporte</strong></a>-->
    <!--<a [routerLink]="['/Reporte']">Reporte</a>-->
    <!--<a href="https://www.freecodecamp.org" target="_blank">Reporte</a>-->
    <!--<button type="button" class="btn btn-light btn-sm" style="margin-right: 5px;"  target="_blank">Reporte</button>-->
    <!--</div>-->
    <!--Recordar-->


</nav>

<ng-template #users let-modal>

    <div class="modal-header">
        <h4 class="modal-title">Permisos de Usuarios</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">



        <div class="container ">
            <div class="row">
                <div class="col-sm">
                    <table class="table">
                        <thead>
                            <label for="recipient-name" class="col-form-label" style="font-size: 17px;"><strong>Usuarios Iconpa</strong></label>
                            <div>
                                <input type="text" class="form-control" id="recipient-name" placeholder="Buscar usuario" (keyup.enter)="buscarUsuario2(buscarTexto.value)" #buscarTexto>
                                <br/>
                            </div>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre de Usuario</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">-></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of usersList; let i = index">
                                <th scope="row">{{i + 1}}</th>
                                <td>{{data.usrid}}</td>
                                <td>{{data.usrName}}</td>
                                <td><button type="submit" class="btn btn-primary btn-block" (click)="guardar(data.usrid)">></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm">
                    <table class="table">
                        <thead>
                            <div class="container">
                                <label for="recipient-name" class="col-form-label" style="font-size: 20px;"><strong>Usuarios Permitidos</strong></label>
                            </div>
                            <tr>
                                <th scope="col">Nombre de Usuario</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Permiso</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of loginUserList">

                                <td> <button type="submit" class="btn btn-primary" (click)="eliminar(data.permisoID)"><</button> {{data.usrid}}</td>
                                <td>{{data.usrname}}</td>
                                <td *ngIf="data.isAdmin == true"><button type="submit" class="btn btn-success btn-block" (click)="actualizar(data.permisoID, data.isAdmin, data.usrid)">Administrador</button></td>
                                <td *ngIf="data.isAdmin == false"><button type="submit" class="btn btn-dark btn-block" (click)="actualizar(data.permisoID, data.isAdmin, data.usrid)">Limitado</button></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</ng-template>


<ng-template #Modalfallecidos let-modal>

    <div class="modal-header">
        <h4 class="modal-title">Consulta de ocupaciones</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">


        <div class="container">
            <div class="row">

                <div class="col col-md-1">
                    <input class="form-check-input" type="radio" name="parametros" value="1" (change)="cambiarParametrosBusqueda($event.target.value)" #DatosParametros>
                    <label class="form-check-label">Fallecido</label>
                </div>

                <div class="col col-md-1">
                    <input class="form-check-input" type="radio" name="parametros" value="2" (change)="cambiarParametrosBusqueda($event.target.value)" #DatosParametros>
                    <label class="form-check-label">Contrato</label>
                </div>

                <div class="col col-md-1">
                    <input class="form-check-input" type="radio" name="parametros" value="3" (change)="cambiarParametrosBusqueda($event.target.value)" #DatosParametros>
                    <label class="form-check-label">Cliente</label>
                </div>

                <div class="col col-md-3">
                    <input type="text" *ngIf="nprueba == 1" class="form-control col col-md-12" id="recipient-name" placeholder="Nombre del fallecido" (keyup.enter)="getFallecidosByName(buscarFallecido.value)" #buscarFallecido>
                    <input type="text" *ngIf="nprueba == 2" class="form-control col col-md-12" id="recipient-name" placeholder="Numero de contrato" (keyup.enter)="getFallecidosByName(buscarFallecido.value)" #buscarFallecido>
                    <input type="text" *ngIf="nprueba == 3" class="form-control col col-md-12" id="recipient-name" placeholder="Numero del fallecido" (keyup.enter)="getFallecidosByName(buscarFallecido.value)" #buscarFallecido>
                    <br/>
                </div>


                <div class="col col-md-3" style="background:rgba(7, 132, 170, 0.836); height: 100%; margin-top: 7px;border-radius: 10px;">
                    <label class="form-check-label" style="color: white;"><strong>Presione Enter</strong></label>
                </div>

            </div>

        </div>

        <div class="container ">
            <div class="row">
                <div class="col-sm">
                    <table class="table">
                        <thead>
                            <!--  <tr>

                                <th>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="parametros" value="1" (change)="cambiarParametrosBusqueda($event.target.value)" #DatosParametros>
                                        <label class="form-check-label">Fallecido</label>
                                    </div>
                                </th>

                                <th>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="parametros" value="2" (change)="cambiarParametrosBusqueda($event.target.value)" #DatosParametros>
                                        <label class="form-check-label">Codigo</label>
                                    </div>
                                </th>

                                <th>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="parametros" value="3" (change)="cambiarParametrosBusqueda($event.target.value)" #DatosParametros>
                                        <label class="form-check-label">Cliente</label>
                                    </div>
                                </th>

                                <th>
                                    <div>
                                        <input type="text" class="form-control col col-md-12" id="recipient-name" placeholder="Nombre del fallecido" (keyup.enter)="getFallecidosByName(buscarFallecido.value)" #buscarFallecido>
                                    </div>
                                </th>




                            </tr> -->

                            <!--
                            <div class="col col-md-3">
                                <input type="text" class="form-control col col-md-12" id="recipient-name" placeholder="Nombre del fallecido" (keyup.enter)="getFallecidosByName(buscarFallecido.value)" #buscarFallecido>
                                <br/>
                            </div>

                            
                            <div class="form-check" class="col col-md-3">
                                <input class="form-check-input" type="radio" name="parametros">
                                <label class="form-check-label" >Fallecido</label>
                            </div>
                            <div class="form-check" class="col col-md-3">
                                <input class="form-check-input" type="radio" name="parametros">
                                <label class="form-check-label" >Contrato</label>
                            </div>        
                            <div class="form-check" class="col col-md-3">
                                <input class="form-check-input" type="radio" name="parametros">
                                <label class="form-check-label" >Cliente</label>
                            </div>      -->

                            <tr>
                                <th scope="col">Codigo</th>
                                <th scope="col">Nombre del cliente</th>
                                <th scope="col">Nombre del fallecido</th>
                                <th scope="col">Fecha de fallecimiento</th>
                                <th scope="col">Cementerio</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of listaFallecidos; let i = index">
                                <th scope="row">{{i + 1}}</th>
                                <td>{{data.nombreCliente}}</td>
                                <td>{{data.nombreFallecido}}</td>
                                <td>{{data.fechaFallecimiento}}</td>
                                <td>{{data.cementerio}}</td>
                                <!--<td> <button type="submit" class="btn btn-primary" (click)="editar(data)">Ver</button></td>-->
                                <td> <button type="submit" class="btn btn-primary" (click)="openSM(contenido,contenidoReservar,data)">Ver</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</ng-template>


<p></p>
<div class="clearfix"></div>
<div class="row col col-md-12 form-inline d-flex flex-row-reverse posicionRelativa">


    <div class="disponible col col-md-2 col-lg-1 col-xs-12"><strong>Disponible</strong></div>
    <div class="vendido col col-md-2 col-lg-1 col-xs-12"><strong>Vendido</strong></div>
    <div class="ocupado col col-md-2 col-lg-1 col-xs-12"><strong>Ocupado</strong></div>
    <div class="reservado col col-md-2 col-lg-1  col-xs-12"><strong>Reservado</strong></div>
    <div class="congelado col col-md-2  col-lg-1  col-xs-12"><strong>Congelado</strong></div>


    <select class="custom-select col col-md-2" style="margin-right: 10px;margin-top: 5px;" id="inputGroupSelect01" (change)="cambiarEstado($event.target.value)">    
        <option value="{{item}}" *ngFor="let item of listaEstado" >{{item}}</option>                         
       </select>

    <div class="dropdown" style="margin-right: 20px;">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
Opciones
</button>
        <div class="dropdown-menu">
            <a class="dropdown-item" (click)="openModal(users)">Permisos</a>
            <a class="dropdown-item" href="http://serversql/ReportServer/Pages/ReportViewer.aspx?%2fDesarrollos+Internos%2fPRE01+-+Listado+Fallecidos&rs:Command=Render" target="_blank">Reporte</a>
            <a class="dropdown-item" (click)="openModalFallecidos(Modalfallecidos)">Buscar</a>
            <a class="dropdown-item" [routerLink]="['/Reporte']">Log</a>
            <a class="dropdown-item" (click)="CerrarSesion()">Salir</a>
        </div>
    </div>

    <!--<div>
        <button type="button" class="btn btn-success btn-sm" style="margin-left: -60px;" (click)="CerrarSesion()">Salir</button>
    </div>

    <div>
        <button class="btn btn-primary btn-sm" style="margin-left: -120px;" [routerLink]="['/Reporte']">Log</button>
    </div>--->
</div>

<ng-template #contenido let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Ingrese los datos</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="guardar()">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Codigo</label>
                <input type="text" class="form-control" [readOnly]='true' formControlName="Codigo" id="recipient-name">
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">No.Contrato</label>
                <input type="text" class="form-control" [readOnly]='true' formControlName="Contrato" id="recipient-name" *ngFor='let data of listaMostrar' [ngModel]="data.pracontract">
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">PA</label>
                <input type="text" class="form-control" [readOnly]='true' formControlName="Panum" id="recipient-name" (change)="obtenerDatosPRA($event.target.value)">
            </div>

            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Id Cliente</label>
                <input type="text" class="form-control" [readOnly]='true' formControlName="IdCliente" id="recipient-name" *ngFor='let data of listaMostrar' [ngModel]="data.pracustnmbr" placeholder="{{data.pracustnmbr}}">
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Clientes</label>
                <input type="text" class="form-control" [readOnly]='true' formControlName="Cliente" id="recipient-name" *ngFor='let data of listaMostrar' [ngModel]="data.pracustname" placeholder="{{data.pracustname}}">
            </div>


            <!--Campos añadidos-->

            <div class="container">

                <div class="row">

                    <div class="cols-sm">

                        <div class="form-group">

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Cementerio</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" formControlName="Cementerio">                     
                         <!-- <option value="{{item}}" *ngFor="let item of listaCementerios" >{{item}}</option> -->                         
                         <option value="{{cementerio}}" [(ngModel)] ="cementerio" >{{cementerio}}</option>                         
                        </select>


                            </div>

                        </div>
                    </div>



                    <div class="col-sm">

                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Etapa</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" formControlName="Etapa">                      
                          <option value="{{etapa}}" [(ngModel)] = "etapa" >{{etapa}}</option>
                         
                        </select>

                            </div>

                        </div>

                    </div>

                    <div class="col-sm">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Pared</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" formControlName="Pared">                        
                          <option value="{{pared}}" [(ngModel)] = "pared" >{{pared}}</option>
                         
                        </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Fila</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" formControlName="Fila">
                       
                          <option value="{{fila}}" [(ngModel)] = "fila" >{{fila}}</option>
                         
                        </select>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm">

                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Columnas</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" formControlName="Columna">
                        
                          <option value="{{columna}}" [(ngModel)] = "columna" >{{columna}}</option>
                         
                        </select>
                            </div>
                        </div>

                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="isChecked" id="defaultCheck1" formControlName="Estatus">
                                    <label class="form-check-label" for="defaultCheck1">
                                      Ocupado
                                    </label>
                                </div>

                            </div>


                        </div>

                    </div>
                    <br/>
                    <br/>

                    <!-- <div class="row">
                        <div class="col-sm">
                            <div class="form-group" *ngIf="isChecked">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">Tipo Columbario</label>
                                    </div>
                                    <select class="custom-select" id="inputGroupSelect01" formControlName="TipoColumbario" (change)="columbarioSeleccionado = $event.target.value ">  
                                       <option value="{{item.identificador}}" *ngFor="let item of tipoColumbario; let i = index">{{item.tipo}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group" *ngIf="isChecked">
                                    <label for="recipient-name" class="col-form-label">Nombre Fallecido</label>
                                    <input type="text" class="form-control" formControlName="NombreFallecido" id="recipient-name">

                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group" *ngIf="isChecked">
                                    <label for="recipient-name" class="col-form-label">Fecha Nacimiento</label>
                                    <input type="datetime-local" class="form-control" formControlName="FechaNacimiento" id="recipient-name">

                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group" *ngIf="isChecked">
                                    <label for="recipient-name" class="col-form-label">Fecha Fallecimiento</label>
                                    <input type="datetime-local" class="form-control" formControlName="FechaFallecimiento" id="recipient-name">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <br/>


            <div class="container">
                <div class="row">
                    <!-- <div class="col-sm">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block">Enviar</button>
                        </div>
                    </div>-->
                    <div class="col-sm">
                        <div class="form-group">
                            <button type="button" class="btn btn-danger btn-block" (click)="modal.close()">Cerrar</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="modal-footer">

    </div>
</ng-template>

<ng-template #contenidoReservar let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Ingrese los datos</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formNecesidad" (ngSubmit)="guardar()">

            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Codigo</label>
                <input type="text" class="form-control" [readOnly]='true' formControlName="Codigo" id="recipient-name">
            </div>

            <div class="form-group">
                <label for="recipient-name" class="col-form-label">No.Factura</label>
                <input type="text" class="form-control" formControlName="Contrato" id="recipient-name" (change)="obtenerFactura($event.target.value)">
            </div>

            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Id Cliente</label>
                <input type="text" class="form-control" formControlName="IdCliente" id="recipient-name" [readOnly]='true' *ngFor='let data of listaFactura' [ngModel]="data.custnmbr" placeholder="{{data.custnmbr}}">
            </div>

            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Clientes</label>
                <input type="text" class="form-control" formControlName="Cliente" id="recipient-name" [readOnly]='true' *ngFor='let data of listaFactura' [ngModel]="data.custname" placeholder="{{data.custname}}">
            </div>

            <div class="container">

                <div class="row">

                    <div class="cols-sm">

                        <div class="form-group">

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Cementerio</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" formControlName="Cementerio">                     
                         <!-- <option value="{{item}}" *ngFor="let item of listaCementerios" >{{item}}</option> -->                         
                         <option value="{{cementerio}}" [(ngModel)] = "cementerio" >{{cementerio}}</option>                         
                        </select>


                            </div>

                        </div>
                    </div>



                    <div class="col-sm">

                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Etapa</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" formControlName="Etapa">                      
                                <option value="{{etapa}}"  [(ngModel)] ="etapa" >{{etapa}}</option>
                         
                        </select>

                            </div>

                        </div>

                    </div>

                    <div class="col-sm">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Pared</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" formControlName="Pared">                        
                          <!--<option value="{{item.pared}}" *ngFor="let item of inventario" >{{item.pared}}</option>-->
                          <option value="{{pared}}" [(ngModel)]="pared">{{pared}}</option>
                         
                        </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Fila</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" formControlName="Fila">
                       
                          <!--<option value="{{item.fila}}" *ngFor="let item of inventario" >{{item.fila}}</option>-->
                          <option value="{{fila}}" [(ngModel)]="fila" >{{fila}}</option>
                         
                        </select>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm">

                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Columnas</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" formControlName="Columna">
                        
                          <option value="{{columna}}" [(ngModel)] = "columna" >{{columna}}</option>
                         
                        </select>
                            </div>
                        </div>

                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="isChecked" id="defaultCheck1" formControlName="Estatus">
                                    <label class="form-check-label" for="defaultCheck1">
                                      Ocupado
                                    </label>
                                </div>

                            </div>

                        </div>

                    </div>


                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group" *ngIf="isChecked">
                                <label for="recipient-name" class="col-form-label">Nombre Fallecido</label>
                                <input type="text" class="form-control" formControlName="NombreFallecido" id="recipient-name">

                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group" *ngIf="isChecked">
                                <label for="recipient-name" class="col-form-label">Fecha Nacimiento</label>
                                <input type="datetime-local" class="form-control" formControlName="FechaNacimiento" id="recipient-name">

                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group" *ngIf="isChecked">
                                <label for="recipient-name" class="col-form-label">Fecha Fallecimiento</label>
                                <input type="datetime-local" class="form-control" formControlName="FechaFallecimiento" id="recipient-name">
                            </div>
                        </div>
                    </div>




                </div>
            </div>
            <br/>


            <div class="container">
                <div class="row">
                    <!-- <div class="col-sm">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block">Enviar</button>
                        </div>
                    </div>-->
                    <div class="col-sm">
                        <div class="form-group">
                            <button type="button" class="btn btn-danger btn-block" (click)="modal.close()">Cerrar</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="modal-footer">

    </div>
</ng-template>
<router-outlet></router-outlet>