.ocupado {
    width: 100px;
    height: 30px;
    background: #FF0000;
}

.disponible {
    width: 100px;
    height: 30px;
    background: #32CD32;
}

.vendido {
    width: 100px;
    height: 30px;
    background: #BEBEBE;
}

.reservado {
    width: 100px;
    height: 30px;
    background: #FFFF00;
}

.congelado {
    width: 100px;
    height: 30px;
    background: #007bff;
}

.posicionFija {
    width: 100%;
    height: 50px;
    position: fixed;
    margin-top: -20px;
    margin-bottom: 10;
    background-color: white;
    z-index: 5;
}

.posicionRelativa {
    position: fixed;
    margin-top: 30px;
    height: 70px;
    width: 100%;
    margin-bottom: 30px;
    background-color: white;
    background: white;
    z-index: 4;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}