<br/>

<div class="ParedMargin">

    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared8CREtapa4']" routerLinkActive='active' *ngIf="visibilidadPared[0]" (click)="EnviarDatosParedes('Cristo Redentor','CR','Etapa4','8')"><strong>Pared 8</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared9CREtapa4']" routerLinkActive='active' *ngIf="visibilidadPared[1]" (click)="EnviarDatosParedes('Cristo Redentor','CR','Etapa4','9')"><strong>Pared 9</strong></a>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>