<br/>

<div class="ParedMargin">

    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared5CLInternos']" routerLinkActive='active' *ngIf="visibilidadPared[0]" (click)="EnviarDatosParedes('Columbario Luperon','CL','Internos','5')"><strong>Pared 5C</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared6CLInternos']" routerLinkActive='active' *ngIf="visibilidadPared[1]" (click)="EnviarDatosParedes('Columbario Luperon','CL','Internos','6')"><strong>Pared 6E</strong></a>
        </li>

        <!--<li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared7CL']" routerLinkActive='active'><strong>Pared 7</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared8CL']" routerLinkActive='active'><strong>Pared 8</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared9CL']" routerLinkActive='active'><strong>Pared 9</strong></a>
        </li>-->

    </ul>
</div>

<router-outlet></router-outlet>