<br/>

<div class="ParedMargin">

    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared1MGEtapa1']" routerLinkActive='active' *ngIf="visibilidadPared[0]" (click)="EnviarDatosParedes('Maximo Gomez','MG','Etapa1','1')"><strong>Pared 1</strong></a>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>