<br/>

<div class="ParedMargin">

    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared1CREtapa1']" routerLinkActive='active' *ngIf="visibilidadPared[0]" (click)="EnviarDatosParedes('Cristo Redentor','CR','Etapa1','1')"><strong>Pared 1</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared2CREtapa1']" routerLinkActive='active' *ngIf="visibilidadPared[1]" (click)="EnviarDatosParedes('Cristo Redentor','CR','Etapa1','2')"><strong>Pared 2</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared3CREtapa1']" routerLinkActive='active' *ngIf="visibilidadPared[2]" (click)="EnviarDatosParedes('Cristo Redentor','CR','Etapa1','3')"><strong>Pared 3</strong></a>
        </li>

    </ul>
</div>

<router-outlet></router-outlet>