<br/>

<div class="ParedMargin">


    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared14CCSEtapa6']" routerLinkActive='active' *ngIf="visibilidadPared[0]" (click)="EnviarDatosParedes('Cristo Salvador','CCS','Etapa6','14')"><strong>Pared 14</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared15CCSEtapa6']" routerLinkActive='active' *ngIf="visibilidadPared[1]"><strong (click)="EnviarDatosParedes('Cristo Salvador','CCS','Etapa6','15')">Pared 15</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared16CCSEtapa6']" routerLinkActive='active' *ngIf="visibilidadPared[2]"><strong (click)="EnviarDatosParedes('Cristo Salvador','CCS','Etapa6','16')">Pared 16</strong></a>
        </li>

    </ul>
</div>

<router-outlet></router-outlet>