<br/>

<div class="ParedMargin">

    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared15CREtapa8']" routerLinkActive='active' *ngIf="visibilidadPared[0]" (click)="EnviarDatosParedes('Cristo Redentor','CR','Etapa8','15')"><strong>Pared 15</strong></a>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>