<br/>

<div class="ParedMargin">

    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared16CREtapa9']" routerLinkActive='active' *ngIf="visibilidadPared[0]" (click)="EnviarDatosParedes('Cristo Redentor','CR','Etapa9','16')"><strong>Pared 16</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared17CREtapa9']" routerLinkActive='active' *ngIf="visibilidadPared[1]" (click)="EnviarDatosParedes('Cristo Redentor','CR','Etapa9','17')"><strong>Pared 17</strong></a>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>