<br/>

<div class="ParedMargin">

    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared1CLExternos']" routerLinkActive='active' *ngIf="visibilidadPared[0]" (click)="EnviarDatosParedes('Columbario Luperon','CL','Externos','1')"><strong>Pared 1A</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared2CLExternos']" routerLinkActive='active' *ngIf="visibilidadPared[1]" (click)="EnviarDatosParedes('Columbario Luperon','CL','Externos','2')"><strong>Pared 2B</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared3CLExternos']" routerLinkActive='active' *ngIf="visibilidadPared[2]" (click)="EnviarDatosParedes('Columbario Luperon','CL','Externos','3')"><strong>Pared 3G</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared4CLExternos']" routerLinkActive='active' *ngIf="visibilidadPared[3]" (click)="EnviarDatosParedes('Columbario Luperon','CL','Externos','4')"><strong>Pared 4F</strong></a>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>