<br/>

<div class="EtapaMargin" style="margin-top:80px">
    <ul class="nav nav-tabs col col-xs-12">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['LIngenioSantiagoEtapa1']" routerLinkActive='active' *ngIf="visibilidadEtapa1"><strong>Etapa 1</strong></a>
        </li>

    </ul>
</div>
<router-outlet></router-outlet>