<br/>

<div class="ParedMargin">
    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared7CLFamiliar']" routerLinkActive='active' *ngIf="visibilidadPared[0]" (click)="EnviarDatosParedes('Columbario Luperon','CL','Familiar','7')"><strong>Pared 7D</strong></a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared10CL']" routerLinkActive='active'><strong>Pared 10</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared11CL']" routerLinkActive='active'><strong>Pared 11</strong></a>
        </li>-->

    </ul>
</div>

<router-outlet></router-outlet>