<br/>

<div class="ParedMargin">

    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared2MGEtapa2']" routerLinkActive='active' *ngIf="visibilidadPared[0]" (click)="EnviarDatosParedes('Maximo Gomez','MG','Etapa2','2')"><strong>Pared 2</strong></a>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>