<!--<img style="margin-top: 100px; padding-left: 400px;">-->

<div style="margin-top: 100px; background: rgb(230, 78, 40);">
    <p style="font-size: 50px;"><strong>No se encuentran registros con el estatus indicado</strong></p>
</div>