<br/>

<div class="ParedMargin">


    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared4CREtapa2']" routerLinkActive='active' *ngIf="visibilidadPared[0]" (click)="EnviarDatosParedes('Cristo Redentor','CR','Etapa2','4')"><strong>Pared 4</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared5CREtapa2']" routerLinkActive='active' *ngIf="visibilidadPared[1]" (click)="EnviarDatosParedes('Cristo Redentor','CR','Etapa2','5')"><strong>Pared 5</strong></a>
        </li>



    </ul>
</div>

<router-outlet></router-outlet>