<br/>

<div>
    <!--<table class="table table-bordered table-hover table-sm">-

    <tr>
        <td *ngFor="let data of listaPared; let i = index">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" (click)="onPropagar(data.pared)">{{data.pared}}</a>
                </li>

            </ul>

        </td>
    </tr>


    </table>-->

    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Grilla']" routerLinkActive='active'><strong>Pared 1</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Grilla2']" routerLinkActive='active'><strong>Pared 2</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Grilla3']" routerLinkActive='active'><strong>Pared 3</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Grilla4']" routerLinkActive='active'><strong>Pared 4</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Grilla5']" routerLinkActive='active'><strong>Pared 5</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Grilla6']" routerLinkActive='active'><strong>Pared 6</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Grilla7']" routerLinkActive='active'><strong>Pared 7</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Grilla8']" routerLinkActive='active'><strong>Pared 8</strong></a>
        </li>

    </ul>


</div>