<br/>

<div class="ParedMargin">

    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared6CREtapa3']" routerLinkActive='active' *ngIf="visibilidadPared[0]" (click)="EnviarDatosParedes('Cristo Redentor','CR','Etapa3','6')"><strong>Pared 6</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared7CREtapa3']" routerLinkActive='active' *ngIf="visibilidadPared[1]" (click)="EnviarDatosParedes('Cristo Redentor','CR','Etapa3','7')"><strong>Pared 7</strong></a>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>