.paredDiv {
    margin-top: 150px;
    z-index: 1;
}

table td:nth-child(0) {
    width: 10px;
}

table td:nth-child(1) {
    width: 10px;
}

table td:nth-child(2) {
    width: 10px;
}

table td:nth-child(3) {
    width: 10px;
}

table td:nth-child(4) {
    width: 10px;
}

table td:nth-child(5) {
    width: 10px;
}