<br/>

<div class="EtapaMargin" style="margin-top:80px">

    <ul class="nav nav-tabs col col-xs-12">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['LCristoRedentorEtapa1']" routerLinkActive='active' *ngIf="visibilidadEtapa1"><strong>Etapa 1</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['LCristoRedentorEtapa2']" routerLinkActive='active' *ngIf="visibilidadEtapa2"><strong>Etapa 2</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['LCristoRedentorEtapa3']" routerLinkActive='active' *ngIf="visibilidadEtapa3"><strong>Etapa 3</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['LCristoRedentorEtapa4']" routerLinkActive='active' *ngIf="visibilidadEtapa4"><strong>Etapa 4</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['LCristoRedentorEtapa5']" routerLinkActive='active' *ngIf="visibilidadEtapa5"><strong>Etapa 5</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['LCristoRedentorEtapa6']" routerLinkActive='active' *ngIf="visibilidadEtapa6"><strong>Etapa 6</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['LCristoRedentorEtapa7']" routerLinkActive='active' *ngIf="visibilidadEtapa7"><strong>Etapa 7</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['LCristoRedentorEtapa8']" routerLinkActive='active' *ngIf="visibilidadEtapa8"><strong>Etapa 8</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['LCristoRedentorEtapa9']" routerLinkActive='active' *ngIf="visibilidadEtapa9"><strong>Etapa 9</strong></a>
        </li>
    </ul>


</div>
<router-outlet></router-outlet>