.ocupado {
    width: 100px;
    height: 30px;
    background: #FF0000;
}

.disponible {
    width: 100px;
    height: 30px;
    background: #32CD32;
}

.vendido {
    width: 100px;
    height: 30px;
    background: #BEBEBE;
}

.reservado {
    width: 100px;
    height: 30px;
    background: #FFFF00;
}