<!--<nav class="navbar navbar-expand-lg navbar-dark  bg-secondary">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">

            <a class="nav-item nav-link" [routerLink]="['COzama']" routerLinkActive='active'><strong>Columbario Ozama</strong></a>
            <a class="nav-item nav-link" [routerLink]="['CSantiago']" routerLinkActive='active'><strong>Columbario Santiago</strong></a>
            <a class="nav-item nav-link" [routerLink]="['CLuperon']" routerLinkActive='active'><strong>Columbario Luperon</strong></a>
            <a class="nav-item nav-link" [routerLink]="['CIngenioSantiago']" routerLinkActive='active'><strong>Ingenio Santiago</strong></a>
            <a class="nav-item nav-link" [routerLink]="['CMaximoGomez']" routerLinkActive='active'><strong>Maximo Gomez</strong></a>
            <a class="nav-item nav-link" [routerLink]="['CCristoSalvador']" routerLinkActive='active'><strong>Cristo Salvador</strong></a>
            <a class="nav-item nav-link" [routerLink]="['CementerioCristoRedentor']" routerLinkActive='active'><strong>Cristo Redentor</strong></a>




        </div>
    </div>

    <button type="button" *ngIf="isAdmin" class="btn btn-light btn-sm" (click)="openModal(users)">Permisos</button>
</nav>

<ng-template #users let-modal>

    <div class="modal-header">
        <h4 class="modal-title">Permisos de Usuarios</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">



        <div class="container ">
            <div class="row">
                <div class="col-sm">
                    <table class="table">
                        <thead>
                            <label for="recipient-name" class="col-form-label" style="font-size: 17px;"><strong>Usuarios Iconpa</strong></label>
                            <div>
                                <input type="text" class="form-control" id="recipient-name" placeholder="Buscar usuario" (keyup.enter)="buscarUsuario2(buscarTexto.value)" #buscarTexto>
                                <br/>
                            </div>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre de Usuario</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">-></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of usersList; let i = index">
                                <th scope="row">{{i + 1}}</th>
                                <td>{{data.usrid}}</td>
                                <td>{{data.usrName}}</td>
                                <td><button type="submit" class="btn btn-primary btn-block" (click)="guardar(data.usrid)">></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm">
                    <table class="table">
                        <thead>
                            <div class="container">
                                <label for="recipient-name" class="col-form-label" style="font-size: 20px;"><strong>Usuarios Permitidos</strong></label>
                            </div>
                            <tr>
                                <th scope="col">Nombre de Usuario</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Permiso</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of loginUserList">

                                <td> <button type="submit" class="btn btn-primary" (click)="eliminar(data.permisoID)"><</button> {{data.usrid}}</td>
                                <td>{{data.usrname}}</td>
                                <td *ngIf="data.isAdmin == true"><button type="submit" class="btn btn-success btn-block" (click)="actualizar(data.permisoID, data.isAdmin, data.usrid)">Administrador</button></td>
                                <td *ngIf="data.isAdmin == false"><button type="submit" class="btn btn-dark btn-block" (click)="actualizar(data.permisoID, data.isAdmin, data.usrid)">Limitado</button></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</ng-template>



<p></p>
<div class="clearfix"></div>
<div class="row col col-md-12 form-inline d-flex flex-row-reverse">

    <div class="disponible col col-md-2">Disponible</div>
    <div class="vendido col col-md-2">Vendido</div>
    <div class="ocupado col col-md-2">Ocupado</div>
    <div class="reservado col col-md-2">Reservado</div>

</div>-->




<!--<div *ngIf="isLogged=='true'">-->

<nav class="navbar navbar-expand-lg navbar-dark  bg-secondary">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">

            <a class="nav-item nav-link" [routerLink]="['COzama']" routerLinkActive='active'><strong>Columbario Ozama</strong></a>
            <a class="nav-item nav-link" [routerLink]="['CSantiago']" routerLinkActive='active'><strong>Columbario Santiago</strong></a>
            <a class="nav-item nav-link" [routerLink]="['CLuperon']" routerLinkActive='active'><strong>Columbario Luperon</strong></a>
            <a class="nav-item nav-link" [routerLink]="['CIngenioSantiago']" routerLinkActive='active'><strong>Ingenio Santiago</strong></a>
            <a class="nav-item nav-link" [routerLink]="['CMaximoGomez']" routerLinkActive='active'><strong>Maximo Gomez</strong></a>
            <a class="nav-item nav-link" [routerLink]="['CCristoSalvador']" routerLinkActive='active'><strong>Cristo Salvador</strong></a>
            <a class="nav-item nav-link" [routerLink]="['CementerioCristoRedentor']" routerLinkActive='active'><strong>Cristo Redentor</strong></a>




        </div>
    </div>

    <button type="button" *ngIf="isAdmin" class="btn btn-light btn-sm" (click)="openModal(users)">Permisos</button>
</nav>

<ng-template #users let-modal>

    <div class="modal-header">
        <h4 class="modal-title">Permisos de Usuarios</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">



        <div class="container ">
            <div class="row">
                <div class="col-sm">
                    <table class="table">
                        <thead>
                            <label for="recipient-name" class="col-form-label" style="font-size: 17px;"><strong>Usuarios Iconpa</strong></label>
                            <div>
                                <input type="text" class="form-control" id="recipient-name" placeholder="Buscar usuario" (keyup.enter)="buscarUsuario2(buscarTexto.value)" #buscarTexto>
                                <br/>
                            </div>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre de Usuario</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">-></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of usersList; let i = index">
                                <th scope="row">{{i + 1}}</th>
                                <td>{{data.usrid}}</td>
                                <td>{{data.usrName}}</td>
                                <td><button type="submit" class="btn btn-primary btn-block" (click)="guardar(data.usrid)">></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm">
                    <table class="table">
                        <thead>
                            <div class="container">
                                <label for="recipient-name" class="col-form-label" style="font-size: 20px;"><strong>Usuarios Permitidos</strong></label>
                            </div>
                            <tr>
                                <th scope="col">Nombre de Usuario</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Permiso</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of loginUserList">

                                <td> <button type="submit" class="btn btn-primary" (click)="eliminar(data.permisoID)"><</button> {{data.usrid}}</td>
                                <td>{{data.usrname}}</td>
                                <td *ngIf="data.isAdmin == true"><button type="submit" class="btn btn-success btn-block" (click)="actualizar(data.permisoID, data.isAdmin, data.usrid)">Administrador</button></td>
                                <td *ngIf="data.isAdmin == false"><button type="submit" class="btn btn-dark btn-block" (click)="actualizar(data.permisoID, data.isAdmin, data.usrid)">Limitado</button></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</ng-template>



<p></p>
<div class="clearfix"></div>
<div class="row col col-md-12 form-inline d-flex flex-row-reverse">

    <div class="disponible col col-md-2">Disponible</div>
    <div class="vendido col col-md-2">Vendido</div>
    <div class="ocupado col col-md-2">Ocupado</div>
    <div class="reservado col col-md-2">Reservado</div>

</div>