<br/>

<div class="paredDiv">
</div>
<ng-container>
    <table class="table table-bordered table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col" *ngFor="let col of listaColumnas">{{col}}</th>

            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let fil of listaFilas; let i = index">
                <th scope="row">{{fil}} </th>
                <td *ngFor="let col of listaColumnas">
                    <div *ngFor="let data of result">
                        <div class="card card bg-dark text-white" style="width: 11rem; height: 9rem;" *ngIf="fil ==data.fila &&  data.columna ==col && data.estado == 'ocupado' ">

                            <div autoPlacement="true" ngbTooltip="Fila ={{data.fila}}, Columna = {{data.columna}}" class="card-body bg-danger" (click)="openSM(contenido, contenidoReservar, data)">

                                <!--<h5 class="card-title" style="font-size: 19px;">{{data.codigo}}</h5>-->
                                <!--<p class="card-text" style="font-size: 15px;"><strong>Fallecido:</strong> <br/>{{data.nombreFallecido}}</p>-->
                                <!--<button type="button" class="btn btn-info btn-sm" (click)="editar(data)">Editar</button>-->
                                <p class="card-text" style="font-size: 14px; margin-top: -15px;"><strong style="font-size: 19px;">{{data.codigo}}</strong> <br/> <strong>Contrato:</strong> <br/>{{data.contrato}} <br/><strong>Fallecido:</strong> <br/>{{data.nombreFallecido}} </p>

                            </div>
                        </div>

                        <div class="card card bg-dark text-white" style="width: 11rem;  height: 9rem;" *ngIf="fil ==data.fila &&  data.columna ==col && data.estado =='disponible' ">

                            <!-- Admin-->
                            <div class="card-body bg-success">
                                <h5 class="card-title" style="font-size: 19px; margin-top: -15px;">{{data.codigo}}</h5>
                                <!--<p class="card-text" style="font-size: 11px;">{{data.codigo}}</p>-->
                                <div class="card-text">
                                    <td class="border-0" *ngIf="isAdmin =='true'">

                                        <button type="button" class="btn btn-light btn-sm" (click)="openPlan(plan,data)" style="margin-left: -5px">asignar</button>
                                        <!--<button type="button" class="btn btn-light btn-sm" (click)="openSM2(contenido)" (click)="editar(data)">asignar</button>-->


                                        <!-- <button type="button" class="btn btn-light btn-sm" (click)="openSM2(contenido)" (click)="editar(data)">asignar</button> -->
                                        <!-- <button type="button" class="btn btn-light btn-sm" (click)="openPlan(plan)">asignar</button>-->
                                    </td>

                                    <td class="border-0" *ngIf="isAdmin =='true'">
                                        <button type="button" class="btn btn-light btn-sm" (click)="openReservar(reservar, data)">reservar</button>
                                    </td>

                                </div>

                            </div>
                        </div>


                        <div class="card card bg-dark text-white" style="width: 11rem; height: 9rem;" *ngIf="fil ==data.fila &&  data.columna ==col && data.estado =='vendido'">
                            <!--Admin-->
                            <div autoPlacement="true" *ngIf="isAdmin && data.estadocobro != 'Congelado'" ngbTooltip="Fila ={{data.fila}}, Columna = {{data.columna}}" class="card-body bg-secondary" (click)="openSM(contenido,contenidoReservar,data)">
                                <!--   <h5 class="card-title" style="font-size: 19px;">{{data.codigo}}</h5> -->
                                <p class="card-text" style="font-size: 14px; margin-top: -15px;"> <strong style="font-size: 19px;">{{data.codigo}}</strong> <br/><strong>Contrato:</strong> <br/> {{data.contrato}} <br/> <strong>Estado Cobro:</strong> <br/> {{data.estadocobro}} </p>
                                <!-- <button type="button" class="btn btn-info btn-sm" (click)="editar(data)">Editar</button>-->

                            </div>

                            <!--Congelado-->
                            <div autoPlacement="true" *ngIf="isAdmin && data.estadocobro == 'Congelado'" ngbTooltip="Fila ={{data.fila}}, Columna = {{data.columna}}" class="card-body bg-primary" (click)="openSM(contenido,contenidoReservar,data)">
                                <!--<h5 class="card-title" style="font-size: 19px;">{{data.codigo}}</h5>-->
                                <p class="card-text" style="font-size: 14px; margin-top: -15px;"> <strong style="font-size: 19px;">{{data.codigo}}</strong> <br/> <strong>Contrato:</strong> <br/> {{data.contrato}} <br/> <strong>Estado Cobro:</strong> <br/>{{data.estadocobro}}</p>
                                <!-- <button type="button" class="btn btn-info btn-sm" (click)="editar(data)">Editar</button>-->

                            </div>

                        </div>

                        <div class="card card bg-dark text-white" style="width: 11rem; height: 9rem;" *ngIf="fil == data.fila &&  data.columna ==col && data.estado =='Reservado'">
                            <!--Admin-->
                            <div autoPlacement="true" *ngIf="isAdmin" ngbTooltip="Fila ={{data.fila}}, Columna = {{data.columna}}" class="card-body bg-warning" (click)="eliminarReserva(data.id)">
                                <h5 class="card-title" style="font-size: 19px; margin-top: -15px;">{{data.codigo}}</h5>
                                <p class="card-text" style="font-size: 14px;"><strong>Resevado por:</strong> <br/> {{data.vendedor}}</p>
                                <!--<p class="card-text" style="font-size: 14px;">{{fechaReserva}}</p>-->
                                <p class="card-text" style="font-size: 14px;">{{data.fechaNacimiento | date:'yyyy-MM-dd'}}</p>
                                <!--<button type="button" class="btn btn-info btn-sm" (click)="eliminarReserva(data.id)">Eliminar</button>-->

                            </div>
                            <!--User-->
                            <div autoPlacement="true" *ngIf="isAdmin ==false" ngbTooltip="Fila ={{data.fila}}, Columna = {{data.columna}}" class="card-body bg-warning">
                                <h5 class="card-title" style="font-size: 19px;">{{data.codigo}}</h5>
                                <p class="card-text" style="font-size: 14px;"><strong>Resevado por:</strong> <br/> {{data.vendedor}}</p>
                                <!--<button type="button" class="btn btn-info btn-sm" (click)="editar(data)">Editar</button>-->

                            </div>

                        </div>

                        <div class="card card bg-dark text-white" style="width: 11rem; height: 9rem;" *ngIf="fil == data.fila &&  data.columna ==col && data.estado =='No disponible'">
                            <!--Admin-->
                            <div autoPlacement="true" *ngIf="isAdmin" ngbTooltip="Fila ={{data.fila}}, Columna = {{data.columna}}" class="card-body bg-dark" (click)="eliminarReserva(data.id)">
                                <!-- <h5 class="card-title" style="font-size: 20px;">{{data.columna}}-{{data.fila}}</h5>-->
                                <h5 class="card-title" style="font-size: 19px;"></h5>
                                <p class="card-text" style="font-size: 14px;"><strong> {{data.vendedor}} </strong> </p>
                                <!--<button type="button" class="btn btn-info btn-sm" (click)="eliminarReserva(data.id)">Eliminar</button>-->

                            </div>
                            <!--User-->
                            <div autoPlacement="true" *ngIf="isAdmin ==false" ngbTooltip="Fila ={{data.fila}}, Columna = {{data.columna}}" class="card-body bg-dark">
                                <!-- <h5 class="card-title" style="font-size: 20px;">{{data.columna}}-{{data.fila}}</h5>-->
                                <h5 class="card-title" style="font-size: 19px;"></h5>
                                <p class="card-text" style="font-size: 14px;"><strong> {{data.vendedor}} </strong> </p>
                                <!--<button type="button" class="btn btn-info btn-sm" (click)="editar(data)">Editar</button>-->

                            </div>

                        </div>

                    </div>
                </td>
            </tr>


        </tbody>
    </table>
</ng-container>
<ng-template #contenido let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Ingrese los datos</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="guardar()">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Codigo</label>
                <input type="text" class="form-control" [readOnly]='true' formControlName="Codigo" id="recipient-name">
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">No.Contrato</label>
                <input type="text" class="form-control" [readOnly]='true' formControlName="Contrato" id="recipient-name" *ngFor='let data of listaMostrar' [ngModel]="data.pracontract" [class.is-invalid]="contratoValido">
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">PA</label>
                <input type="text" class="form-control" formControlName="Panum" id="recipient-name" (change)="obtenerDatosPRA($event.target.value)" [class.is-invalid]="paValido">
                <small *ngIf="paValido" class="text-danger">Campo Requerido</small>
            </div>
            <!--Campos añadidos-->
            <!-- <div class="form-group">
                <label for="recipient-name" class="col-form-label">Id Cliente</label>
                <input type="text" class="form-control" [readOnly]='true' formControlName="IdCliente" id="recipient-name" *ngFor='let data of listaMostrar' placeholder="{{data.pracustnmbr}}">
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Clientes</label>
                <input type="text" class="form-control" [readOnly]='true' formControlName="Cliente" id="recipient-name" *ngFor='let data of listaMostrar' placeholder="{{data.pracustname}}">
            </div>-->

            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Id Cliente</label>
                <input type="text" class="form-control" [readOnly]='true' formControlName="IdCliente" id="recipient-name" *ngFor='let data of listaMostrar' [ngModel]="data.pracustnmbr" placeholder="{{data.pracustnmbr}}">
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Clientes</label>
                <input type="text" class="form-control" [readOnly]='true' formControlName="Cliente" id="recipient-name" *ngFor='let data of listaMostrar' [ngModel]="data.pracustname" placeholder="{{data.pracustname}}">
            </div>


            <!--Campos añadidos-->

            <div class="container">

                <div class="row">

                    <div class="cols-sm">

                        <div class="form-group">

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Cementerio</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" formControlName="Cementerio" [class.is-invalid]="cementerioValido">                     
                         <!-- <option value="{{item}}" *ngFor="let item of listaCementerios" >{{item}}</option> -->                         
                         <option value="{{listaCementerios}}" >{{listaCementerios}}</option>                         
                        </select>


                            </div>

                        </div>
                    </div>



                    <div class="col-sm">

                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Etapa</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" formControlName="Etapa" [class.is-invalid]="etapaValido">                      
                          <option value="{{etapa}}" >{{etapa}}</option>
                         
                        </select>

                            </div>

                        </div>

                    </div>

                    <div class="col-sm">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Pared</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" formControlName="Pared" [class.is-invalid]="paredValido">                        
                          <option value="{{item.pared}}" *ngFor="let item of listaPared" >{{item.pared}}</option>
                         
                        </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Fila</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" formControlName="Fila" [class.is-invalid]="filaValido">
                       
                          <option value="{{item}}" *ngFor="let item of listaFilas" >{{item}}</option>
                         
                        </select>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm">

                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Columnas</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" formControlName="Columna" [class.is-invalid]="columnaValido">
                        
                          <option value="{{item}}" *ngFor="let item of listaColumnas" >{{item}}</option>
                         
                        </select>
                            </div>
                        </div>

                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="isChecked" id="defaultCheck1" formControlName="Estatus">
                                    <label class="form-check-label" for="defaultCheck1">
                                      Ocupado
                                    </label>
                                </div>

                            </div>


                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group" *ngIf="isChecked">
                                <label for="recipient-name" class="col-form-label">Nombre Fallecido</label>
                                <input type="text" class="form-control" formControlName="NombreFallecido" id="recipient-name" [class.is-invalid]="nombreFallecidoValido">
                                <small *ngIf="nombreFallecidoValido" class="text-danger">Campo Requerido</small>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group" *ngIf="isChecked">
                                <label for="recipient-name" class="col-form-label">Fecha Nacimiento</label>
                                <input type="datetime-local" class="form-control" formControlName="FechaNacimiento" id="recipient-name">
                                <small *ngIf="nombreFallecidoValido" class="text-danger">Campo Requerido</small>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group" *ngIf="isChecked">
                                <label for="recipient-name" class="col-form-label">Fecha Fallecimiento</label>
                                <input type="datetime-local" class="form-control" formControlName="FechaFallecimiento" id="recipient-name">
                                <small *ngIf="nombreFallecidoValido" class="text-danger">Campo Requerido</small>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <br/>


            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block">Enviar</button>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <button type="button" class="btn btn-danger btn-block" (click)="modal.close()">Cerrar</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm" *ngIf="reservaEliminarId != 0 && isAdmin">
                        <a href="#" (click)="eliminarReserva(reservaEliminarId)"><strong>Eliminar</strong></a>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="modal-footer">

    </div>
</ng-template>

<ng-template #contenidoReservar let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Ingrese los datos</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formNecesidad" (ngSubmit)="guardarNecesidad()">

            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Codigo</label>
                <input type="text" class="form-control" [readOnly]='true' formControlName="Codigo" id="recipient-name">
            </div>

            <div class="form-group">
                <label for="recipient-name" class="col-form-label">No.Factura</label>
                <input type="text" class="form-control" formControlName="Contrato" id="recipient-name" (change)="obtenerFactura($event.target.value)">
            </div>

            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Id Cliente</label>
                <input type="text" class="form-control" formControlName="IdCliente" id="recipient-name" [readOnly]='true' *ngFor='let data of listaFactura' [ngModel]="data.custnmbr" placeholder="{{data.custnmbr}}">
            </div>

            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Clientes</label>
                <input type="text" class="form-control" formControlName="Cliente" id="recipient-name" [readOnly]='true' *ngFor='let data of listaFactura' [ngModel]="data.custname" placeholder="{{data.custname}}">
            </div>

            <div class="container">

                <div class="row">

                    <div class="cols-sm">

                        <div class="form-group">

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Cementerio</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" formControlName="Cementerio" [class.is-invalid]="cementerioValido">                     
                         <!-- <option value="{{item}}" *ngFor="let item of listaCementerios" >{{item}}</option> -->                         
                         <option value="{{listaCementerios}}"  >{{listaCementerios}}</option>                         
                        </select>


                            </div>

                        </div>
                    </div>



                    <div class="col-sm">

                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Etapa</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" formControlName="Etapa" [class.is-invalid]="etapaValido">                      
                                <option value="{{etapa}}" >{{etapa}}</option>
                         
                        </select>

                            </div>

                        </div>

                    </div>

                    <div class="col-sm">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Pared</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" formControlName="Pared" [class.is-invalid]="paredValido">                        
                          <option value="{{item.pared}}" *ngFor="let item of listaPared" >{{item.pared}}</option>
                         
                        </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Fila</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" formControlName="Fila" [class.is-invalid]="filaValido">
                       
                          <option value="{{item}}" *ngFor="let item of listaFilas" >{{item}}</option>
                         
                        </select>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm">

                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Columnas</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" formControlName="Columna" [class.is-invalid]="columnaValido">
                        
                          <option value="{{item}}" *ngFor="let item of listaColumnas" >{{item}}</option>
                         
                        </select>
                            </div>
                        </div>

                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="isChecked" id="defaultCheck1" formControlName="Estatus">
                                    <label class="form-check-label" for="defaultCheck1">
                                      Ocupado
                                    </label>
                                </div>

                            </div>

                        </div>

                    </div>


                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group" *ngIf="isChecked">
                                <label for="recipient-name" class="col-form-label">Nombre Fallecido</label>
                                <input type="text" class="form-control" formControlName="NombreFallecido" id="recipient-name" [class.is-invalid]="nombreFallecidoValido">
                                <small *ngIf="nombreFallecidoValido" class="text-danger">Campo Requerido</small>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group" *ngIf="isChecked">
                                <label for="recipient-name" class="col-form-label">Fecha Nacimiento</label>
                                <input type="datetime-local" class="form-control" formControlName="FechaNacimiento" id="recipient-name" [class.is-invalid]="nombreFallecidoValido">
                                <small *ngIf="nombreFallecidoValido" class="text-danger">Campo Requerido</small>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group" *ngIf="isChecked">
                                <label for="recipient-name" class="col-form-label">Fecha Fallecimiento</label>
                                <input type="datetime-local" class="form-control" formControlName="FechaFallecimiento" id="recipient-name" [class.is-invalid]="nombreFallecidoValido">
                                <small *ngIf="nombreFallecidoValido" class="text-danger">Campo Requerido</small>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
            <br/>


            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block">Enviar</button>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <button type="button" class="btn btn-danger btn-block" (click)="modal.close()">Cerrar</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm" *ngIf="reservaEliminarId != 0 && isAdmin">
                        <a href="#" (click)="eliminarReserva(reservaEliminarId)"><strong>Eliminar</strong></a>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="modal-footer">

    </div>
</ng-template>


<ng-template #reservar let-modal>

    <div class="modal-header">
        <h4 class="modal-title">Reservar Nicho</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form [formGroup]="formReservar" (ngSubmit)="guardarReservar()">

            <div class="container">

                <div class="row">

                    <div class="cols-sm">

                        <div class="form-group">

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Vendedor</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" formControlName="Vendedor">                     
                               
                                     <option value="{{item.nombre}}" *ngFor="let item of salespersonList" >{{item.nombre}}</option>                         
                                 </select>
                            </div>
                            <!--<input type="text" class="form-control" [readOnly]='true' *ngFor="let data of fechavencimiento" [ngModel]="data | date" placeholder="Fecha">-->
                        </div>


                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" [readOnly]='true' formControlName="FechaVencimiento" *ngFor="let data of fechavencimiento" [ngModel]="data" placeholder="Fecha">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container ">
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block">Enviar</button>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <button type="button" class="btn btn-danger btn-block" (click)="modal.close()">Cerrar</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</ng-template>

<ng-template #plan let-modal>

    <div class="modal-header">
        <h4 class="modal-title">Seleccione una opcion</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">


        <div class="container ">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <!--<button type="submit" class="btn btn-success btn-block" (click)="openSM2(contenido)">Prearreglo</button>-->
                        <button type="submit" class="btn btn-success btn-block" (click)="openSM2(contenido)">Prearreglo</button>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <!-- <button type="button" class="btn btn-primary btn-block" (click)="openSM2(contenidoReservar)">Necesidad</button>-->
                        <button type="button" class="btn btn-primary btn-block" (click)="openSM3(contenidoReservar)">Necesidad</button>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <a href="#" (click)="NoDisponible()"><strong>Marcar no disponible</strong></a>
                </div>
            </div>

        </div>
    </div>
</ng-template>