<br/>

<div class="EtapaMargin" style="margin-top:80px">
    <ul class="nav nav-tabs col col-xs-12">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['LLuperonExternos']" routerLinkActive='active' *ngIf="visibilidadExternos"><strong>Externos</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['LLuperonInternos']" routerLinkActive='active' *ngIf="visibilidadInternos"><strong>Internos</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['LLuperonFamiliar']" routerLinkActive='active' *ngIf="visibilidadFamiliar"><strong>Familiar</strong></a>
        </li>

    </ul>
</div>


<router-outlet></router-outlet>