<br/>

<div class="ParedMargin">

    <!--<ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared1CCS']" routerLinkActive='active' *ngIf="visibilidadPared[0]" (click)="EnviarDatosParedes('Cristo Salvador','CCS','Etapa1','1')"><strong>Pared 1</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared2CCS']" routerLinkActive='active' *ngIf="visibilidadPared[1]"><strong>Pared 2</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared3CCS']" routerLinkActive='active' *ngIf="visibilidadPared[2]"><strong>Pared 3</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['ParedPrueba']" routerLinkActive='active'><strong>Prueba</strong></a>
        </li>



    </ul>-->
    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared1CCSEtapa1']" routerLinkActive='active' *ngIf="visibilidadPared[0]" (click)="EnviarDatosParedes('Cristo Salvador','CCS','Etapa1','1')"><strong>Pared 1</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared2CCSEtapa1']" routerLinkActive='active' *ngIf="visibilidadPared[1]" (click)="EnviarDatosParedes('Cristo Salvador','CCS','Etapa1','2')"><strong>Pared 2</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared3CCSEtapa1']" routerLinkActive='active' *ngIf="visibilidadPared[2]" (click)="EnviarDatosParedes('Cristo Salvador','CCS','Etapa1','3')"><strong>Pared 3</strong></a>
        </li>

        <!--<li class="nav-item">
            <a class="nav-link" [routerLink]="['ParedPrueba4']" routerLinkActive='active' (click)="EnviarDatosParedes('Cristo Salvador','CCS','Etapa2','4')"><strong>Prueba</strong></a>
        </li>-->



    </ul>
</div>

<router-outlet></router-outlet>