<br/>

<div class="ParedMargin">


    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared17CCSEtapa7']" routerLinkActive='active' *ngIf="visibilidadPared[0]" (click)="EnviarDatosParedes('Cristo Salvador','CCS','Etapa7','17')"><strong>Pared 17</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared18CCSEtapa7']" routerLinkActive='active' *ngIf="visibilidadPared[1]"><strong (click)="EnviarDatosParedes('Cristo Salvador','CCS','Etapa7','18')">Pared 18</strong></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared19CCSEtapa7']" routerLinkActive='active' *ngIf="visibilidadPared[2]"><strong (click)="EnviarDatosParedes('Cristo Salvador','CCS','Etapa7','19')">Pared 19</strong></a>
        </li>

    </ul>
</div>

<router-outlet></router-outlet>