<br/>

<div class="ParedMargin">

    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared10CREtapa5']" routerLinkActive='active' *ngIf="visibilidadPared[0]" (click)="EnviarDatosParedes('Cristo Redentor','CR','Etapa5','10')"><strong>Pared 10</strong></a>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>