/* You can add global styles to this file, and also import other style files */

input.ng-touched.ng-invalid {
    border-color: #dc3545;
}

input.ng-valid {
    border-color: #28a745;
}

div.row {
    margin-right: 0px;
}

div.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}


/*table td:nth-child(0) {
    width: 10px;
}

table td:nth-child(1) {
    width: 10px;
}

table td:nth-child(2) {
    width: 10px;
}

table td:nth-child(3) {
    width: 10px;
}

table td:nth-child(4) {
    width: 10px;
}

table td:nth-child(5) {
    width: 10px;
}*/