<br/>

<div class="ParedMargin">

    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Pared6CCSEtapa4']" routerLinkActive='active' *ngIf="visibilidadPared[0]" (click)="EnviarDatosParedes('Cristo Salvador','CCS','Etapa4','6')"><strong>Pared 6</strong></a>
        </li>

    </ul>
</div>

<router-outlet></router-outlet>